<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <div class ="topr">
                <a href="" class = "top">DevLibrary</a>   
            
                <ul class = "logins">
                    <li><a href="../Login/login.html">Login</a></li>
                    <li><a href="signup.html">SignUp</a></li>
                </ul>
        </div>
    </header>



    <footer>
        
    </footer>
</body>