{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static Home/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul class = "nvlinks">
                <li><a href="signup/">Sign up</a></li>                
                <li><a href="login/">Login</a></li>
            </ul>
        </nav>
    </header>



    <footer>
        
    </footer>
</body>