<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul class = "nvlinks">
                <li><a href="../SignUp/SignUp.html">Sign up</a></li>                
                <li><a href="../Login/Login.html">BOOK</a></li>
            </ul>
        </nav>
    </header>
    <div>



    {% block content %}
    {% endblock %}  
    </div>


    <footer>
        
    </footer>
</body>
