
{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'book/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul class = "nvlinks">

                {% if user.is_authenticated %}
                <li>Hello, {{user.username}}</li>                
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a href="/register/">Sign up</a></li>                
                <li><a href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class = "mn">



    <ul>
        <li>
        <p>Title: {{title}}</p>
    </li>
  <li>
    <p>Author: {{auth}}</p>
  </li>
  <li>
        <p>Publisher: {{pub}}</p>
    </li>
      <li>
        <p>Genre:{{gen}}</p>
    </li>
    <li>
        <p>ISBN: {{isbn}}</p>
    </li>
        <li>
        <p>Comments: {{comm}}</p>
    </li>
    <li>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </li>

    {% if user.is_authenticated and avlbl %}
        <li>
          <form action ="/issue/{{id}}" method="POST">{% csrf_token %}
          <button type="Submit" style="float:right; margin: 30px; padding:10px;">Issue Book</button>
          </form>
        </li>
    {% elif avlbl == 'False' %}
      <li>
          <form action ="/issue" method="POST">{% csrf_token %}
          <button type="Submit" style="float:right; margin: 30px; padding:10px;" disabled>Issue Book</button>
          </form>
        </li>
    {% elif user.is_authenticated == 'False' %}
      <li>
          <form method="POST">{% csrf_token %}
          <button type="Submit" style="float:right; margin: 30px; padding:10px;" disabled>Login first</button>
          </form>
        </li>

    {% endif %}
    </ul>
    </div>
    

    <footer>
        
    </footer>
</body>
    

