{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'book/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'DevLibrary.png' %}" alt="" width = "100"></a>
        <nav>
            <ul class = "nvlinks">

                {% if user.is_authenticated %}
                <li>Hello, {{user.username}}</li>                
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a href="/register/">Sign up</a></li>                
                <li><a href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class = "mn">



    {% block content %}
    {% endblock %}  
    </div>


    <footer>
        
    </footer>
</body>
