<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul class = "nvlinks">
                <li><a href="../SignUp/SignUp.html">Sign up</a></li>                
                <li><a href="../Login/Login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <ul>
            <li>
                <p>Title</p>
            </li>
            <li>
                <p>Author</p>
            </li>
            <li>
                <p>Publisher</p>
            </li>
            <li>
                <p>Genre</p>
            </li>
            <li>
                <p>ISBN</p>
            </li>
        </ul>
    </div>


    <footer>
        
    </footer>
</body>