{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'book/nstyle.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body style="background-color:#090c10;color:#f0f6fc;">
    <header>
       <a href="/"><img src="{% static 'DevLibrary.png' %}" alt="" width = "100"></a>
        <nav>
            <ul class = "nvlinks">

                {% if user.is_authenticated %}
                <li>Hello, {{user.username}}</li>                
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a href="/register/">Sign up</a></li>                
                <li><a href="/login/">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class = "newbook" style="display:block;margin-left:auto;background-color:#0d1117;color:#f0f6fc;border:2px solid #30363d;border-radius:10px;">
        <form action="/editsave/{{id}}" method = "POST">
        {% csrf_token %}
        <label for="titl">Title:</label>
        <input type="text" name="titl" id="titl" value= "{{book.Title}}"><br><br>
        <label for="auth">Author:</label>
        <input type="text" name="auth" id="auth" value= "{{book.Author}}"><br><br>
        <label for="publ">Publisher:</label>
        <input type="text" name="publ" id="publ" value= "{{book.Publisher}}"><br><br>
        <label for="genr">Genre:</label>
        <input type="text" name="genr" id="genr" value= "{{book.Genre}}"><br><br>
        <label for="issbn">ISBN:</label>
        <input type="text" name="issbn" id="issbn" value= "{{book.ISBN}}"><br><br>
        <label for="comme">Comment:</label>
        <input type="text" name="comme" id="comme" value= "{{book.Comments}}"><br><br>
        <label for="loca">Location:</label>
        <input type="text" name="loca" id="loca" value= "{{book.Location}}"><br><br>
        <label for="linkbook">Soft Copy Link:</label>
        <input type="text" name="loca" id="linkbook" value= "{{book.SoftCopy}}"><br><br>

        <input type="radio"  name="states" value="Available">
        <label for="states">Mark as Available</label><br>
        <input type="radio"  name="states" value="Unavailable">
        <label for="states">Mark as Unavailable </label><br>
        <input type="radio"  name="states" value="Lost">
        <label for="states">Mark as Lost/Stolen/NA</label><br>

        <input type = 'submit' value = 'Save Edited Book' class= "butn" style="background-color:#238636;margin-left:0%;padding: 1% 2%;border:none;border-radius:5px;color:#f0f6fc"/>
        </form>
    </div>


    <footer>
        
    </footer>
</body>

