@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: lightblue;
}

*{
    margin: 0;
    padding: 0;
}

header a,li{
    font: "Montserrat", sans-serif;
    font-size: 16px;
    color: cornsilk;
    text-decoration: none;

}

header{
    background-color: #121a1a;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 5%;

}

.nvlinks{
    list-style: none;

}

.nvlinks li{
    display: inline-block;
    padding: 0 30px;
}

.nvlinks a:hover{
    color: #2b768d;
}