{% load static %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'User/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    Homepage
</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul class = "nvlinks">

                <li>Hello, {{user.username}}</li>                
                <li><a href="/logout/">Logout</a></li>

            </ul>
        </nav>
    </header>
    <div class="usr-dta">
        <ul>
        <li>
        <p>Username: {{user.username}}</p>
        
    </li>
  <li>
    <p>Email: {{user.email}}</p>
   
  </li>
  
    </ul>
    </div>


 </body>