{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'signup/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign Up
    </title>
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'DevLibrary.png' %}" alt="" width = "100"></a>
        <nav>
            <ul class = "nvlinks">                
                <li><a href="/login/">Login Instead</a></li>
            </ul>
        </nav>
    </header>

    <div class = "frm">
    <form action="register" method = "POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="mail">Email:</label>
        <input type="text" name="mail" id="mail"><br><br>
        <label for="pswd">Password:</label>
        <input type="password" name="pswd" id="pswd"><br><br>
        <input type="Submit">
    </form>

        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    
    </div>


</body>