{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'signup/stylesu.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign Up
    </title>
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'DevLibrary.png' %}" alt="" width = "100"></a>
        <nav>
            <ul class = "nvlinks">                
                <li><a href="/login/">Login Instead</a></li>
            </ul>
        </nav>
    </header>

    <div class = "frm" style="border-radius:15px;">
    <form action="register" method = "POST" style="font-size:18px;">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" ><br><br>
        <label for="mail">   Email:  </pre></label>
        <input type="text" name="mail" id="mail"><br><br>
        <label for="pswd">Password:</label>
        <input type="password" name="pswd" id="pswd"><br><br>
        <input type="Submit" style="background-color:#238636;margin-left:40%;padding: 5% 10%;border:none;border-radius:5px;color:#f0f6fc">
    </form>

        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    
    </div>


</body>