<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign Up
    </title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul class = "nvlinks">                
                <li><a href="signup/">SignUp instead</a></li>
            </ul>
        </nav>
    </header>

    <div class = "frm">
    <form action="">
        <label for="mail">Email:</label>
        <input type="text" name="mail" id="mail"><br><br>
        <label for="pswd">Password:</label>
        <input type="text" name="pswd" id="pswd"><br><br>
    </form>
    </div>
</body>